body {
  text-align: center;
  background-color: blanchedalmond;
}

.cat-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.category {
  width: 17rem;
  /* text-align: center; */
  padding: 0.5rem 0 0.5rem 0;
}

.top-info {
  display: grid;
}

.score {
  text-align: right;
  padding-right: 6rem;
  font-weight: bold;
}

.question-label {
  font-weight: bold;
}

.options {
  padding: 0 0 0 35%;
  display: grid;
  grid-template-columns: 35% 30%;
  justify-items: left;
}

.option {
  margin-top: 1rem;
}

.feedback-correct {
  font-weight: bold;
  margin: 1rem;
  color: green;
}

.feedback-incorrect {
  font-weight: bold;
  margin: 1rem;
  color: red;
}

.correct-answer {
  font-weight: bold;
  margin: 1rem;
}

.next {
  margin: 1rem;
}

.results-score {
  font-weight: bold;
  margin: 1rem;
}

.recap-label {
  font-weight: bold;
}

.quest-ans {
  margin: 1rem;
}

.answer-label {
  font-weight: bold;
}

.bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.quiz-options {
  margin: 2rem;
}